CompileFlags:
  CompilationDatabase: build
  Add:
    - -std=gnu99
    - -m32
    - -msse
    - -DCTR_NATIVE
    - -DCTR_INTERNAL
    - -DBUILD=926
    - -D__ANDROID__
    - -Iinclude
    - -Iexternals/SDL/include
